<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>

    <div>
      <a href="{{ url_for('index') }}">ホームに戻る</a>
    </div>

    {% include 'graph1.html' %}
    {% include 'graph2.html' %}
    {% include 'graph3.html' %}
    {% include 'graph4.html' %}

    <script>
      // ここにグラフを書いてね
    </script>
  </body>
</html>
