<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>月収一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('product.list') }}">月収一覧</a></li>

    </ul>
    <a href="{{ url_for('product.add') }}">新規月収追加</a>
    <table>
        <thead>
            <tr>
                <th>ユーザーネーム</th>
                <th>作成日時</th>
                <th>バイト先</th>
                <th>収入</th>
            </tr>
        </thead>
        <tbody>
            {% for product in items %}
            <tr>
                <td>{{ product.user.name }}</td>
                <td>{{ product.created_at.strftime('%Y-%m-%d') }}</td>
                <td>{{ product.user.workplace }}</td>
                <td>{{ product.income }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>