<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>月収一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('registration.list') }}">月収一覧</a></li>
    </ul>

    <a href="{{ url_for('registration.add') }}">新規ユーザー追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ユーザーネーム</th>
                <th>作成日時</th>
                <th>バイト先</th>
                <th>収入</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td><a href="{{ url_for('registration.edit', user_id=user.id) }}">編集</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.workplace }}</td>
                <td>{{ user.income }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
